$color-darkest: #021b21;
$color-dark: #032c36;
$color-medium: #065f73;
$color-light: #f5f0f0;
$color-lightest: #fff;
$color-gray: #efefef;
$color-red: #f41c54;
$color-blue: #00aab5;
$color-green: #c1c923;
$color-purple: #c36aff;

$color-accent: $color-red;

$text-dark: $color-darkest;
$text-light: $color-lightest;
$text-muted: $color-gray;
$text-accent: $color-accent;

$link-color: #0098dc;