@import './colors';
@import './breakpoints';

$header-z-index: 1000;
$header-height: 4rem;

$content-z-index: 1;
$content-gutter: 2rem;

$background-z-index: 0;
$background-height: calc(100vh - #{$header-height});

@import "./colors";
@import "./breakpoints";

@mixin primaryContent($flex) {
    background: $color-lightest;
    width: 60%;
    height: calc(100vh - #{$header-height});
    min-width: $small-width;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 160px 110px $color-lightest;

    @if ($flex) {
        display: flex;
        flex-direction: column;
    } @else {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    @media all and (max-width: $small-width) {
        width: calc(100vw - 2 * #{$content-gutter});
        height: calc(100vh - 2 * #{$header-height});
        min-width: inherit;
        box-shadow: none;
        margin: 0 2rem;
    }
}