@import 'colors';
@import 'layout';

body { margin: 0; }

main {
    position: absolute;
    z-index: $content-z-index;
    top: $header-height;
    width: 100vw;
}

a {
    text-decoration: none;
    color: $text-link;

    &:hover { color: lighten($text-link, 10%); }
}