@import "_colors.scss";

$sans-font-family: "Arimo", sans-serif;
$header-font-family: "Open Sans", sans-serif;
$monospace-font-family: "Cousine", monospace;
$title-font-family: $monospace-font-family;

body {
    font-family: $sans-font-family;
    color: $text-body;
}

.highlight {
    background-color: $color-blue;
    border-radius: 0.1rem;
}