@import 'typography';
@import 'colors';
@import 'layout';
@import 'components';
@import 'loader';

body { margin: 0; }

a {
    text-decoration: none;
    color: $text-dark;

    &:hover { color: $text-accent; }
}

main {
    position: absolute;
    z-index: $content-z-index;
    top: $header-height;
}