@import "./stylesheets/layout";
@import "./stylesheets/colors";
@import "./stylesheets/typography";
@import "./stylesheets/grid";

@import "./common/logo/logo";
@import "./header/header";

body {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-view {
    position: absolute;
    top: 4rem;
}