@import "./stylesheets/layout";
@import "./stylesheets/colors";
@import "./stylesheets/typography";
@import "./stylesheets/grid";

@import "./header/header";
@import "./posts/posts";
@import "./post/post";

body {
    background-color: $color-light;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes appViewEnter {
    0%  { opacity: 0; }
    50% { opacity: 0; }
    100%    {
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
}

@keyframes appViewExit {
    0% {
        animation-timing-function: ease-in-out;
        left: 0;
    }
    80% { left: -100vw; }
    100% { left: -100vw; }
}

.app-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.ng-enter { animation: appViewEnter 0.7s; }
    &.ng-leave { animation: appViewExit 0.7s; }
}