.grid {
    $grid-gutter: 2rem;
    $grid-columns: 12;

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &--center {
            justify-content: center;
            text-align: center;
        }

        &--end {
            justify-content: flex-end;
            text-align: end;
        }
    }

    &__col {
        flex-grow: 1;
        flex-basis: 0;
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;

        @for $columns from 1 through 12 {
            $width: calc(#{(100% / $grid-columns) * $columns} - #{$grid-gutter});

            &-#{$columns} {
                flex-basis: $width;
                max-width: $width;
            }

            &-offset-#{$columns} {
                margin-left: 100% / $grid-columns;
            }
        }

        &--hugged {
            padding-left: 0;
            padding-right: 0;
        }

        &--center {
            justify-content: center;
            text-align: center;
        }

        &--end {
            justify-content: flex-end;
            text-align: end;
        }
    }

    &--fluid {
        padding-right: $grid-gutter;
        padding-left: $grid-gutter;
        width: calc(100% - 2 * #{$grid-gutter});

        &-hugged {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
}