$header-height: 5rem;
$header-height-small: 3rem;
$header-line-height: 5rem;
$header-line-height-small: 3.3rem;

$view-height: calc(100vh - #{$header-height});
$view-height-small: calc(100vh - #{$header-height-small});
$view-height-half: calc(50vh - #{$header-height});
$view-height-half-small: calc(50vh - #{$header-height-small});

$spacer: 1rem;

$media-break-xxlarge: 1600px;
$media-break-xlarge: 1281px;
$media-break-large: 1024px;
$media-break-small: 768px;
$media-break-handheld: 500px;
$media-break-obsolete: 320px;

$media-break-ar-large: 8/5;
$media-break-ar-medium: 5/4;