@import "../../../global-styles/layout";
@import "../../../global-styles/colors";
@import "../../../global-styles/typography";
@import "../../../global-styles/breakpoints";

.blog-post-detail {
    @include primaryContent(false);

    &__headline {
        margin: 2rem 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media all and (max-width: $medium-width) { display: block; }
    }

    &__tags-line {
        display: flex;
        font-size: 0.8rem;
    }

    &__tags {
        display: flex;
        padding: 0;
        margin: 0
    }

    &__tag {
        list-style: none;

        &:not(:last-child):after {
            content: ", ";
            white-space: pre-wrap;
        }
    }

    &__para {
        line-height: 1.6;
        text-align: justify;

        &--lead {
            font-family: $header-font-family;
            color: lighten($text-body, 10%);
            line-height: 1.6;
            font-size: 1.6rem;

            @media all and (max-width: $small-width) { font-size: 1.5rem; }
        }
    }

    &__key-value {
        list-style: none;
        line-height: 1.6;
    }

    &__key {
        font-weight: bold;
        color: $text-dark;
    }

    &__li { line-height: 1.6; }

    &__blockquote {
        font-family: $header-font-family;
        font-size: 2rem;
        color: $text-accent;
        margin: 0 1.5rem 0 1rem;
        padding-left: 1rem;
        border-left: 2px solid $color-accent;
        float: right;
        max-width: 33%;

        @media all and (max-width: $small-width) {
            float: none;
            max-width: 100%;
            margin-left: 0;
        }
    }

    &__code {
        clear: both;

        &--inline {
            font-family: $title-font-family;
            font-size: 0.95rem;
        }
    }

    &__img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
}