@import "../../../global-styles/layout";
@import "../../../global-styles/colors";
@import "../../../global-styles/typography";
@import "../../../global-styles/breakpoints";

.blog-post-detail {
    @include primaryContent(false);

    &__headline {
        margin: 2rem 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media all and (max-width: $small-width) { display: block; }
    }

    &__tags-line {
        display: flex;
        font-size: 0.8rem;
    }

    &__topics:after {
        content: " ";
        white-space: pre-wrap;
    }

    &__tags {
        display: flex;
        padding: 0;
        margin: 0
    }

    &__tag {
        list-style: none;
        color: $color-medium;

        &:not(:last-child):after {
            content: ", ";
            white-space: pre-wrap;
        }
    }

    &__para {
        line-height: 1.6;
        text-align: justify;

        &--lead {
            font-family: $header-font-family;
            color: lighten($text-body, 10%);
            line-height: 1.6;
            font-size: 1.6rem;
        }
    }

    &__key-value {
        list-style: none;
        line-height: 1.6;
    }

    &__key {
        font-weight: bold;
        color: $text-dark;
    }

    &__blockquote {
        font-family: $header-font-family;
        font-size: 2rem;
        color: $text-accent;
        margin: 0 0 1.5rem 1rem;
        padding-left: 1rem;
        border-left: 2px solid $color-accent;

        @media all and (min-width: $small-width) {
            float: right;
            max-width: 33%;
        }
    }

    &__code { clear: both; }

    &__img { width: 100%; }
}