@import '../../../global-styles/layout';
@import '../../../global-styles/typography';
@import '../../../global-styles/colors';
@import '../../../global-styles/breakpoints';

$gutter: 1rem;

.top-nav {
    position: fixed;
    z-index: $header-z-index;
    width: 100vw;
    height: $header-height;
    color: $text-light;
    background: $color-darkest;

    @media all and (max-width: $small-width) { height: calc(0.8 * #{$header-height}); }
}

.content {
    height: $header-height;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: $small-width) { height: calc(0.8 * #{$header-height}); }

    @media all and (min-width: $oversize-width) { width: 1000px; }
}

.left {
    margin-left: $gutter;
    color: $text-light;
}

.center {
    width: 50%;

    @media all and (max-width: $medium-width) { display: none; }
}

.right {
    margin-right: $gutter;
    text-align: right;
}

.logo {
    width: 2rem;
    height: 1.44rem;
}

.title {
    font-family: $title-font-family;
    font-size: 1.5rem;
    margin: 0;
    vertical-align: top;
    display: inline-block;

    @media all and (max-width: $small-width) {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

.author {
    font-size: 0.7rem;
    font-style: italic;
}