.header {
    z-index: 100;
    position: fixed;
    top: 0;
    font-family: $sans-font-family;
    color: $color-lightest;
    background-color: $color-dark;
    height: $header-height;
    line-height: $header-line-height;

    @media(max-width: $media-break-small) {
        height: $header-height-small;
        line-height: $header-line-height-small;
        font-size: 80%;
    }

    &__title {
        font-family: $heavy-font-family;
        font-size: ms(2);
        padding-right: 0;
        white-space: nowrap;

        @media(max-width: $media-break-small) {
            padding-left: 1rem;
            font-size: calc(#{ms(2)} * 0.8)
        }
    }

    &__pages {
        list-style: none;
        margin-bottom: 0;
        padding: 0;

        @media(max-width: $media-break-handheld) { display: none; }
    }

    &__page {
        display: inline;
        margin: 0 2rem;

        @media (max-width: $media-break-small) { margin: 0 1rem; }
    }

    &__icons {
        padding-left: 0;
        white-space: nowrap;

        @media(max-width: $media-break-small) { padding: 0 1rem 0 0; }
        @media(max-width: $media-break-handheld) { display: none; }
    }

    &__icon {
        height: 25px;
        margin: 0 1.3rem;
        vertical-align: middle;

        @media (max-width: $media-break-small) {
            margin: 0 .7rem;
            height: 16px;
        }

        &--twitter {
            height: 40px;

            @media (max-width: $media-break-small) { height: 25px; }
        }
    }

    &__drawer {
        display: none;
        padding-right: 1rem;

        @media (max-width: $media-break-handheld) { display: block; }

        &__icon {
            height: 30px;
            margin: 0;

            &--twitter { height: 40px; }
        }
    }
}