<div class="header grid grid--fluid grid--fluid-hugged grid__row">
    <div class="header__title grid__col">
        <logo size="small"></logo>
        step into
    </div>

    <ul class="header__pages grid__col grid__col-6 grid__col--center">
        <li class="header__page">ARTICLES</li>
        <li class="header__page">PROJECTS</li>
        <li class="header__page">ABOUT</li>
    </ul>

    <div class="header__icons grid__col grid__col--end">
        <img src="../assets/images/GitHub-Mark-Light-64px.png" class="header__icon"/>
        <img src="../assets/images/TwitterLogo_white.png" class="header__icon header__icon--twitter"/>
        <img src="../assets/images/In-White-66px-R.png" class="header__icon"/>
    </div>

    <div class="header__drawer grid__col-2 grid__col--offset-7 grid__col--end">
        <span class="icon icon-menu icon--large" ng-click="vm.toggleDrawer()"></span>
        <div class="dropdown dropdown--right" ng-click="vm.toggleDrawer()"
            ng-class="vm.getDrawerOpenClass()"
        >
            <div class="dropdown__item">Articles</div>
            <div class="dropdown__item">Projects</div>
            <div class="dropdown__item">About</div>
            <div class="dropdown__item dropdown__item--center dropdown__group">
                <img src="../assets/images/GitHub-Mark-Light-64px.png" class="header__drawer__icon"/>
            </div>
            <div class="dropdown__item dropdown__item--center">
                <img src="../assets/images/TwitterLogo_white.png" class="header__drawer__icon header__drawer__icon--twitter"/>
            </div>
            <div class="dropdown__item dropdown__item--center">
                <img src="../assets/images/In-White-66px-R.png" class="header__drawer__icon"/>
            </div>
            </div>
        </div>
    </div>
</div>