@import "../../global-styles/layout";
@import "../../global-styles/breakpoints";

.background {
    position: fixed;
    z-index: $background-z-index;
    bottom: 0;
    width: 100vw;
    height: $background-height;

    @media all and (max-width: $medium-width) { display: none; }
}