@import '../../../global-styles/colors';
@import '../../../global-styles/layout';

.links {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: calc(#{$header-height} / 2);
    margin: 0 auto;

    &__link {
        display: block;
        width: 25%;
        font-size: 1.3rem;
        text-align: center;

        &--active {
            color: $color-accent;

            @for $i from 1 through 3 {
                &-#{$i} ~ .links__underline { left: ($i - 1) * 33%; }
            }
        }
    }

    &__underline {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 33%;
        height: 0.1rem;
        border: 0;
        margin: 0;
        background: $color-accent;
        transition: left 0.3s ease-in-out;
    }

    &--dark {
        .links__link {
            color: $text-light;

            &--active { color: $color-accent; }
        }

        .links__underline { background: $color-accent; }
    }
}

.private-link {
    $position: 2rem;
    $size: 3rem;

    position: fixed;
    bottom: $position;
    right: $position;
    width: $size;
    height: $size;
    border-radius: $size;
    line-height: $size;
    text-align: center;
    color: $text-light;
    background-color: $color-dark;
    box-shadow: 2px 2px 5px 0 $color-dark-grey;
    cursor: pointer;

    &:hover {
        box-shadow: none;
        right: calc(#{$position} - 1px);
        bottom: calc(#{$position} - 1px);
    }

    &--active {
        background-color: $color-accent;

        & ~ .links__underline { display: none; }
    }
}