@import '../../global-styles/layout';
@import '../../global-styles/breakpoints';

.blog {
    @include primaryContent(true);

    &__scroll {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 0 0.5rem 1rem;  // scrolling element hides x-direction; focus outlines are cut-off without padding
        flex-grow: 1;

        @media all and (max-width: $small-width) { padding: 0 2rem 1rem;}
    }
}