@import '../../global-styles/layout';
@import '../../global-styles/breakpoints';

.blog {
    @include primaryContent(true);

    &__scroll {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 0 2rem;
        flex-grow: 1;

        @media all and (max-width: $small-width) { padding: 0 1rem;}
    }
}

.no-posts {
    margin-top: 2rem;
    font-style: italic;
}