<div class="project-summary">
    <h2 class="name">{{ project.name }}</h2>
    <div class="flex-row">
        <div class="flex-column">
            <div class="flex-row">
                <div>Topics:
                    <span *ngFor="let topic of getTopics(), let last = last">
                        {{ topic }}<span *ngIf="!last">,</span>&nbsp;
                    </span>
                </div>
                <div class="updated">updated {{ project.friendlyUpdateString }}</div>
            </div>
            <div [innerHTML]="excerpt" class="excerpt"></div>
        </div>
        <contribution-chart
            class="language-chart"
            [title]="'Languages'"
            [data]="languageData.lines"
            [labels]="languageData.languages"
            [colors]="languageData.colors"
            [chartType]="'pie'"
            [canvasWidth]="'250px'"
            [canvasHeight]="'200px'"
        ></contribution-chart>
    </div>
</div>