<div class="project-summary">
    <h2 class="name"><a [href]="project.htmlUrl" target="_blank">{{ project.name }}</a></h2>
    <div class="topics">
        <div>Topics:
            <span *ngFor="let topic of getTopics(), let last = last">
                        {{ topic }}<span *ngIf="!last">,</span>&nbsp;
                    </span>
        </div>
        <div class="updated">updated {{ project.friendlyUpdateString }}</div>
    </div>
    <div class="detail">
        <div [innerHTML]="excerpt" class="excerpt"></div>
        <github-chart
            class="language-chart"
            [title]="'Languages'"
            [data]="languageData.lines"
            [labels]="languageData.languages"
            [colors]="languageData.colors"
            [chartType]="'pie'"
        ></github-chart>
    </div>
</div>