@font-face {
    font-family: 'Cousine-Regular';
    src: url('Cousine-Regular.eot');
    src: url('Cousine-Regular.woff2') format('woff2'),
    url('Cousine-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('Cousine.woff') format('woff'),
    url('Cousine.ttf') format('truetype'),
    url('Cousine.svg#Cousine') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('JosefinSans-Regular.eot');
    src: url('JosefinSans-Regular.woff2') format('woff2'),
    url('JosefinSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('JosefinSans.woff') format('woff'),
    url('JosefinSans.ttf') format('truetype'),
    url('JosefinSans.svg#JosefinSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('JosefinSans-Bold.eot');
    src: url('JosefinSans-Bold.woff2') format('woff2'),
    url('JosefinSans-Bold.woff') format('woff'),
    url('JosefinSans-Bold.ttf') format('truetype'),
    url('JosefinSans-Bold.svg#JosefinSans-Bold') format('svg'),
    url('JosefinSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Italic';
    src: url('JosefinSans-Italic.eot');
    src: url('JosefinSans-Italic.woff2') format('woff2'),
    url('JosefinSans-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('JosefinSans.woff') format('woff'),
    url('JosefinSans.ttf') format('truetype'),
    url('JosefinSans.svg#JosefinSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
